<%- include('partials/header'); -%>
<div class="row">
  <div class="text-center">
    <h1>Editing <%= space.title%></h1>
  </div>
  <div class="col-6 offset-3">
    <form
      action="/spaces/<%= space._id %>?_method=PUT"
      method="post"
      novalidate
      class="needs-validation"
    >
      <div>
        <label class="form-label" for="name">Name </label>
        <input
          class="form-control"
          type="text"
          name="name"
          id=""
          value="<%= space.title %>"
          required
        />
        <div class="valid-feedback">Looks good.</div>
      </div>
      <div>
        <label class="form-label" for="city">City </label>
        <input
          class="form-control"
          type="text"
          name="city"
          value="<%= locArr[0] %>"
          required
        />
        <div class="valid-feedback">Looks good.</div>
      </div>
      <div>
        <label class="form-label" for="state">State </label>
        <input
          class="form-control"
          type="text"
          name="state"
          value="<%= locArr[1] %>"
          required
        />
        <div class="valid-feedback">Looks good.</div>
      </div>
      <div>
        <label class="form-label" for="imageUrl">Image URL </label>
        <input
          class="form-control"
          type="text"
          name="imageUrl"
          value="<%= space.image %>"
          required
        />
        <div class="valid-feedback">Looks good.</div>
      </div>
      <div>
        <label class="form-label" for="description">Description </label>
        <textarea
          class="form-control"
          name="description"
          id=""
          cols="30"
          rows="3"
          required
        >
<%= space.description %></textarea
        >
        <div class="valid-feedback">Looks good.</div>
      </div>
      <div>
        <label class="form-label" for="autoSizingInputGroup">Price</label>
        <div class="input-group">
          <div class="input-group-text">$</div>
          <input
            type="number"
            class="form-control"
            id="autoSizingInputGroup"
            placeholder="0.00"
            value="<%= space.price %>"
            name="price"
            required
          />
          <div class="valid-feedback">Looks good.</div>
        </div>
      </div>
      <button class="btn btn-info my-2" type="submit">Confirm Edit</button>
    </form>
    <a href="/spaces">Cancel</a>
  </div>
</div>
<%- include('partials/footer'); -%>
