<%- include('partials/header'); -%>

<div class="row">
  <div class="col-7 offset-2">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= err.message %></h4>
      <p>
        Go back to <a href="/spaces">Homepage</a> or
        <a href="<%= link %> ">try again</a>
      </p>
      <!-- code for testing -->
      <!-- <hr /> -->
      <!-- <p class="mb-0"><%= err.stack %></p> -->
    </div>
  </div>
</div>
<%- include('partials/footer'); -%>
