<%- include('partials/header'); -%>
<h1>Available Coworking Spaces</h1>
<% for (let space of spaces){%>
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid" src="<%= space.image %>" alt="space-image" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= space.title %></h5>
        <p class="card-text"><%= space.description %></p>
        <p class="card-text">
          <small class="text-muted"><%= space.location %></small>
        </p>
        <a class="btn btn-primary" href="/spaces/<%= space._id %>"
          >View <%= space.title %></a
        >
      </div>
    </div>
  </div>
</div>
<% } %>
<%- include('partials/toast'); -%>
<%- include('partials/footer'); -%>
<script src="/utils/toast.js"></script>
